<div th:fragment="navbar">
    <header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 border-bottom shadow-sm mb-3">
        <p class="ml-5 h5 my-0 mr-md-auto fw-normal text-dark ">MovieSoft</p>
        <nav class="my-2 my-md-0 md-3 mr-4">
            <a class="p-2 text-dark" href="/home">Home</a>
            <a class="p-2 text-dark" href="/add">Add</a>
            <a class="p-2 text-dark" href="/films">Films</a>
            <a class="p-2 text-dark" href="/about">About</a>
        </nav>
    </header>
</div>